@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    /* background-color: yellow; */
}

/* head-part */

.head {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logoImage {
    width: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
}

#menu {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #ff4500;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
}

/* body-01 part */

.body1 {
    display: flex;
    /* margin: 2rem; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1rem solid black; */
    /* size-adjust: 0.74; */
}

.body01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(60% - 4rem);
    margin: 2rem 1.5rem;
    flex: 1 1 auto;
    /* size-adjust: 0.58; */
}

.body02 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-end;
    width: calc(40% - 4rem);
    margin: 1rem 1.5rem 0 1.5rem;
    flex: 1 1 auto;
}

@media only screen and (max-width: 768px) {
    .body01, .body02 {
        width: calc(100% - 4rem);
    }
    .body01, .body02 {
        justify-content: center;
    }
    .partner {
        width: calc(33.3333% - 4rem);
    }
}

.headline {
    margin-bottom: 1rem;
    width: 90%;
    /* font-size-adjust: 0.5; */
}

h1 {
    font-size: 2.1rem;
    /* color: #ff4500 */
    /* font-size-adjust: 0.5; */
}

.headPara {
    /* color: rgba(0, 0, 0, 0.693); */
    margin-top: 0.5rem;
    font-size: 1.1rem;
    width: 80%;
    font-weight: 600;
}

.community {
    margin: 1.5rem 0 0 0;
    display: flex;
    align-items: center;
}

a {
    color: #ff4500;
}

.customerImage,
.communityText,
.star {
    display: flex;
    flex: 1 1 auto;
}

.communityText {
    flex-direction: column;
    margin-left: 0.5rem;
}

.waitingText {
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

.joinText {
    font-size: 0.9rem;
    color: #ff4500;
}

#champImage,
#harshithImage,
#abhiImage,
#starImage1,
#starImage2,
#starImage3 {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: 0.2rem solid white;
}

#harshithImage,
#abhiImage {
    margin-left: -1rem ;
}

#starImage1,
#starImage2 {
    border: none;
}

#henImage {
    position: relative;
    width: 8rem;
    border-radius: 4rem;
    margin-right: -4rem;
    align-self: flex-start;
    z-index: 1;
    /* margin-bottom: 2rem; */
    /* margin-left: 3rem; */
}

/* #henImage2 {
    width: 8rem;
    border-radius: 4rem;
    margin-right: -4rem;
    margin-left: -20rem;
} */

#manuImage {
    /* position: relative; */
    width: 80%;
    border-radius: 16rem 16rem 2rem 16rem;
}

/* .starHen {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1 1 auto;
} */


/* TRUSTED PARTNERS PART */

.body2 {
    background-color: rgb(255, 248, 213);
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
}

.trustedHeadline {
    text-align: center;
    margin: 2rem 0 0rem 0;
    font-size: 1.5rem;
}

.trustedPara {
    text-align: center;
    margin: 0.5rem 2rem;
}

.partnerImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 1.5rem 2rem 1.5rem;
    flex-wrap: wrap;
}

#partner {
    width: calc(16.6666% - 3rem);
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(255, 183, 0, 0.464);
    /* box-shadow: 0 0.5rem 2rem lightgray; */
}

@media only screen and (max-width: 768px) {
    #partner {
        width: calc(33.3333% - 3rem);
    }
}

/* Our story part */

.body3 {
    display: flex;
    margin: 2rem 0 -1rem 0;
    flex-wrap: wrap;
    /* background-color: rgb(246, 246, 246); */
    /* flex: 1 1 auto; */
}

.ourStoryImage {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: calc(40% - 6rem);
    margin: 1rem 1.5rem -2rem 1.5rem;
    flex: 1 1 auto;
}

.ourStartDate {
    font-size: 1rem;
    border-radius: 0.8rem;
    color: white;
    background-color: rgba(169, 168, 168, 0.229);
    box-shadow: 0.25rem 3rem 3rem rgba(38, 36, 36, 0.228);
    font-weight: 600;
    width: 50%;
    border: none;
    text-align: center;
    padding: 1.2rem 0.7rem;
    margin-left: -6rem;
}

#ourStoryImage {
    width: 85%;
    border-radius: 16rem 2rem 16rem 16rem;
    box-shadow: 0rem 1rem 2rem rgb(199, 199, 199);
}

.ourStoryText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(60% - 6rem);
    margin: 3rem 0.5rem 3rem 1.5rem;
    flex: 1 1 auto;
}

.starImage3 {
    align-self: flex-end;
    margin-right: 6rem;
}

.ourStoryHeadline {
    font-size: 1.5rem;
    margin-bottom: 1rem ;
}

.ourStoryPara {
    margin-bottom: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .ourStoryText,
    .ourStoryImage {
        width: calc(100% - 6rem);
    }
}

#knowMore {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #ff4500;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 40%;
    margin-top: 1rem;
}


/* our featured product */

.body4 {
    background-color: rgb(255, 248, 213);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
    flex: 1 1 auto;
}

#product1 {
    margin: 1rem 2rem 1rem 2rem;
    width: 50%;
    border-radius: 1rem;
}

.product1 {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.5rem 1rem 0.5rem;
    border-radius: 1rem;
    width: calc(25% - 1rem);
    background-color: white;
    /* box-shadow: 0 0.2rem 1rem rgb(255, 183, 0); */
    box-shadow: 0 0.5rem 1rem rgba(224, 162, 4, 0.453);
}

@media only screen and (max-width: 768px) {
    .product1 {
        width: calc(50% - 1rem);
    }
}

.productHeadline {
    margin: 1.5rem 2rem 1rem 2rem;
    font-size: 1.5rem;
}

.productPara {
    margin: 0.25rem 2rem;
}

.productInfo {
    margin: 0.5rem 1.2rem 1rem 1.2rem;
    font-size: 0.65rem;
}

/* map part */

.body5 {
    display: flex;
    margin: 0rem 0 -1rem 0;
    flex-wrap: wrap;
}

.ourMapText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(60% - 6rem);
    margin: 1rem 0.5rem 1rem 1.5rem;
    flex: 1 1 auto;
}

.ourMapHeadline {
    font-size: 1.5rem;
    margin-bottom: 1rem ;
}

.ourMapPara {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
}

.ourMapImage {
    display: flex;
    align-items: center;
    width: calc(40% - 6rem);
    margin: 2rem 1.5rem 2rem 1.5rem;
    flex: 1 1 auto;
}

#ourMapImage {
    width: 85%;
    border-radius: 2rem 9rem 2rem 2rem;
    /* box-shadow: 0rem 1rem 2rem rgb(199, 199, 199); */
}

.ourMapDate {
    position: relative;
    font-size: 1rem;
    border-radius: 0.8rem;
    color: white;
    /* background-color: rgba(245, 192, 79, 0.5); */
    background-color: rgba(249, 131, 5, 0.464);
    box-shadow: -0.25rem 3rem 3rem rgba(227, 163, 0, 0.239);
    /* box-shadow: -0.25rem 0 1rem rgb(224, 157, 0); */
    font-weight: 600;
    width: 40%;
    border: none;
    text-align: center;
    padding: 1.2rem 0.7rem;
    margin-right: -5rem;
}

@media only screen and (max-width: 768px) {
    .ourMapText,
    .ourMapImage {
        width: calc(100% - 6rem);
    }

    #mapBtnImage {
        transform: rotate(90deg);
    }
}

.ourMapBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #ff4500;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    width: 90%;
    box-shadow: 0rem 1rem 2rem rgba(88, 88, 88, 0.259);
    /* margin-top: 1rem; */
}

#mapBtnImage {
    width: 3rem;
    border-radius: 1rem;
}

.customers,
.branches {
    margin-right: 1rem;
    /* width: 30%; */
}

.customersPara,
.branchesPara {
    font-size: 0.7rem;
}

/* Get in touch */

.body6 {
    background-image: url('./images/poultry3.jpg');
    background-size: cover;
    /* filter: brightness(50%); */
    color: white;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0rem 0;
}

.touchHeadline {
    text-align: center;
    margin: 2rem 0 0rem 0;
    font-size: 1.5rem;
}

.touchPara {
    text-align: center;
    margin: 0.5rem 2rem;
}

.touchImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 1.5rem 2rem 1.5rem;
    /* flex-wrap: wrap; */
}

#social {
    width: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    border: 0.15rem solid white;
    box-shadow: 0 0.5rem 2rem rgb(255, 255, 255);
    /* box-shadow: 0 0.5rem 2rem lightgray; */
}
/* @media only screen and (max-width: 768px) {
    #partner {
        width: calc(33.3333% - 3rem);
    }
} */

/* foot part */

#githubIcon {
    width: 1rem;
    align-self: center;
    margin: 0.2rem 0 0 0.1rem;
}

.foot {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    /* margin: 1rem; */
}

.designerPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footText {
    font-size: 0.5rem;
    color: rgb(26, 26, 26);
    margin: 0.25rem;
}


